body{
margin:0;
font-family:Poppins;
color:white;
background:#0f0c29;
overflow-x:hidden;
}

canvas{
position:fixed;
top:0;
left:0;
z-index:-1;
}

header{
text-align:center;
padding:80px 20px;
}

h1{
font-size:45px;
}

nav{
display:flex;
justify-content:center;
gap:20px;
flex-wrap:wrap;
margin-bottom:40px;
}

nav button{
padding:12px 22px;
border:none;
border-radius:20px;
background:rgba(255,255,255,0.1);
backdrop-filter:blur(10px);
color:white;
cursor:pointer;
transition:0.3s;
}

nav button:hover{
background:#ff4da6;
transform:scale(1.1);
}

.gallery{
display:grid;
grid-template-columns:repeat(auto-fit,minmax(200px,1fr));
gap:20px;
padding:20px;
}

.photo{
perspective:1000px;
}

.photo img{
width:100%;
border-radius:15px;
transition:0.6s;
box-shadow:0 10px 30px rgba(0,0,0,0.6);
}

.photo img:hover{
transform:rotateY(15deg) rotateX(10deg) scale(1.1);
}

.hidden{
display:none;
}

footer{
text-align:center;
padding:60px;
font-size:22px;
}
